.color-picker-label {
  color: #000000;
  padding: 0.3em;
  min-width: 6em;
  font-size: 1.4em;
  border-radius: 0.4em;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.color-picker-button {
  padding: 0 0.5em;
}

.color-picker-systray:busy {
  color: #629fea;
}

.color-picker-setting:hover {
  color: #4b92e7;
}
